.NftUploadPage {
    margin-top: 40px !important;
    position: relative;
    width: 70%;
    margin: 24px auto;
    text-align: center;
    justify-content: center;
}

.NftUploadPage .dropzone{
    cursor: pointer;
    border-style: dotted;
    background: rgba(var(--bluish-steel-raw), 0.12);
    width: 70%;
    margin: 24px auto;
    border-radius: 8px;
    border-color: purple;
    border-width: 2px;
    min-height: 400px;
    margin-bottom: 50px;
    flex: auto;
}

.NftUploadPage .dropzone .dropChild {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.NftUploadPage .uploadButton {
    background-color: aliceblue;
    font-weight: 500;
    font-size: large;
    line-height: 1.25rem;
    text-align: center;
    padding: 0.625rem 1.25rem;
    border-radius: 10px;
    border-color: cadetblue;
    cursor: pointer;
    width: 20%;
}

.NftUploadPage .nextButton {
    background-color: coral;
    font-weight: 500;
    font-size: large;
    line-height: 1.25rem;
    text-align: center;
    padding: 0.625rem 1.25rem;
    border-radius: 10px;
    border-color: coral;
    cursor: pointer;
    width: 10%;
    max-height: 40px;
    min-width: 100px;
}

.NftUploadPage .backButton {
    background-color: aliceblue;
    font-weight: 500;
    font-size: large;
    line-height: 1.25rem;
    text-align: center;
    padding: 0.625rem 1.25rem;
    border-radius: 10px;
    cursor: pointer;
    border-color: purple;
    width: 10%;
    max-height: 40px;
    min-width: 100px;
}

.NftUploadPage .buttonBox {
    column-count: 2;
}
